{% extends "base.html" %}

{% block content %}
  <h1>Anonymous Chat</h1>
  <p class="deck">
    This is Anonymous Chat created using <a href="http://channels.readthedocs.org/en/latest/">
    Django Channels</a> to implement a simple WebSocket-based chat server.
  </p>
  <h1>How to Use:</h1>
  <p class="deck">
    To use this app you can either create a random named room using the button below or add   /room-name   at the end of this url to create a room.
    Share the room's url to invite others for a chat where you can choose any name you want. It would give you the power to speak without revealing you identity.
    Invite your partner by sharing this link via apps like sarahah. Remember you have to change the . in the link to [dot] other wise you won't be able to share this in many sites.
    You can see the code on <a href="https://github.com/daybreak2018/channels-example">
    GitHub</a>, or try the app:
  </p>
  <p>
    <a class="button button-primary" href="{% url 'new_room' %}">Create new chat room</a>
  </p>
  <p class="quiet">
    Or, you can visit <code>{{ request.scheme }}://{{ request.get_host }}/any-path-you-want</code> 
    to create a arbitrary room or join one whose name you know.
  </p>
{% endblock content %}
